<%= content_for(:canonical_url, new_user_registration_url) %>
<div class="profile-settings-page auth-page">
  <div class="auth-shell">
    <div class="auth-card settings-card">
      <div class="auth-header">
        <h1 class="auth-title"><%= t('sign_up') %></h1>
      </div>
      <div class="tpl-new-form">
        <%= form_for(resource, as: resource_name, data: { turbo: params[:redir].blank? }, url: registration_path(resource_name)) do |f| %>
          <%= render 'devise/shared/error_messages', resource: resource, inline_fields: %i[email password password_confirmation] %>
          <%= render 'devise/sessions/hidden_fields' %>
          <div class="auth-card__name-row" dir="auto">
            <div class="form-control">
              <%= f.label :first_name, t(:first_name), class: 'label' %>
              <%= f.text_field :first_name, autocomplete: 'given-name', class: 'base-input w-full', placeholder: t('profile_placeholder_first_name', default: 'Alex') %>
            </div>
            <div class="form-control">
              <%= f.label :last_name, t(:last_name), class: 'label' %>
              <%= f.text_field :last_name, autocomplete: 'family-name', class: 'base-input w-full', placeholder: t('profile_placeholder_last_name', default: 'Rivera') %>
            </div>
          </div>
          <div class="form-control<%= ' form-control--invalid' if resource.errors[:email].any? %>">
            <%= render 'devise/shared/auth_label', form: f, resource: resource, attribute: :email, label_text: t(:email), required: true %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: ['base-input w-full', ('base-input--invalid' if resource.errors[:email].any?)].compact.join(' '), placeholder: t('profile_placeholder_email', default: 'you@company.com'), aria: { describedby: (dom_id(resource, :email) + '_error' if resource.errors[:email].any?) } %>
          </div>
          <div class="form-control<%= ' form-control--invalid' if resource.errors[:password].any? %>">
            <%= render 'devise/shared/auth_label', form: f, resource: resource, attribute: :password, label_text: t(:password), required: true %>
            <%= f.password_field :password, autocomplete: 'new-password', class: ['base-input w-full', ('base-input--invalid' if resource.errors[:password].any?)].compact.join(' '), placeholder: t('profile_placeholder_new_password'), aria: { describedby: (dom_id(resource, :password) + '_error' if resource.errors[:password].any?) } %>
          </div>
          <div class="form-control<%= ' form-control--invalid' if resource.errors[:password_confirmation].any? %>">
            <%= render 'devise/shared/auth_label', form: f, resource: resource, attribute: :password_confirmation, label_text: t(:confirm_new_password), required: true %>
            <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: ['base-input w-full', ('base-input--invalid' if resource.errors[:password_confirmation].any?)].compact.join(' '), placeholder: t('profile_placeholder_confirm_password'), aria: { describedby: (dom_id(resource, :password_confirmation) + '_error' if resource.errors[:password_confirmation].any?) } %>
          </div>
          <div class="form-control">
            <%= f.button button_title(title: t(:sign_up), disabled_with: t(:signing_up)), class: 'base-button profile-settings-btn-primary tpl-new-submit-btn' %>
          </div>
        <% end %>
        <% if devise_mapping.omniauthable? && User.omniauth_providers.include?(:google_oauth2) %>
          <div class="auth-card__divider">
            <%= form_for '', url: user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, method: :post do |f| %>
              <set-timezone data-input-id="state" data-params="true"></set-timezone>
              <%= hidden_field_tag :state, { redir: params[:redir].to_s }.compact_blank.to_query %>
              <%= f.button button_title(title: t('sign_up_with_google'), icon: svg_icon('brand_google', class: 'w-6 h-6')), class: 'white-button profile-settings-btn-outline w-full' %>
            <% end %>
          </div>
        <% end %>
        <div class="auth-card__footer">
          <%= render 'devise/shared/links' %>
        </div>
      </div>
    </div>
  </div>
</div>
