<%= form_for @template, data: { turbo_frame: :_top }, html: { autocomplete: :off } do |f| %>
  <div class="form-control mt-4">
    <%= f.label :name, t('document_name'), class: 'label' %>
    <%= f.text_field :name, required: true, placeholder: t('profile_placeholder_document_name', default: 'Document name'), class: 'base-input w-full', dir: 'auto' %>
  </div>
  <% folder_value = params[:folder_name].presence || TemplateFolder::DEFAULT_NAME %>
  <div class="form-control">
    <%= label_tag :folder_name, t('folder'), class: 'label' %>
    <div class="tpl-new-folder-picker">
      <span class="tpl-new-folder-icon" aria-hidden="true">
        <%= svg_icon('folder', class: 'w-5 h-5') %>
      </span>
      <folder-autocomplete class="tpl-new-folder-autocomplete">
        <set-value data-on="blur" data-value="<%= TemplateFolder::DEFAULT_NAME %>" data-empty-only="true" class="peer flex-1 min-w-0">
          <input id="folder_name" placeholder="<%= t('profile_placeholder_folder_name', default: 'Folder name') %>" type="text" class="tpl-new-folder-input block w-full min-w-0 max-w-none outline-none rounded px-2 h-11 text-base shadow-none appearance-none" name="folder_name" value="<%= folder_value %>" autocomplete="off">
        </set-value>
        <label for="folder_name" class="tpl-new-change-folder-link shrink-0 cursor-pointer peer-focus-within:invisible peer-focus-within:pointer-events-none whitespace-nowrap">
          <%= t('change_folder') %>
        </label>
      </folder-autocomplete>
    </div>
  </div>
  <div class="form-control">
    <%= f.button button_title(title: t('create'), disabled_with: t('creating')), class: 'base-button tpl-new-submit-btn' %>
  </div>
<% end %>
