<div class="tpl-show-header settings-page-header profile-settings-header">
  <div class="tpl-show-header-top">
    <div class="tpl-show-header-info">
      <div class="tpl-show-avatar" aria-hidden="true">
        <%= svg_icon('file_text', class: 'w-7 h-7 shrink-0') %>
      </div>
      <div class="tpl-show-header-text min-w-0">
        <div id="template_title" class="flex items-start gap-2">
          <h1 class="tpl-show-title" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;">
            <% template.name.split(/(_)/).each do |item| %><%= item %><wbr><% end %>
          </h1>
          <% if template.archived_at? %>
            <span class="templates-dashboard-archived-badge shrink-0 self-center"><%= t('archived') %></span>
          <% end %>
          <%= render 'templates/access_icon', template: @template %>
        </div>
        <% if @template.account_id == current_account.id %>
          <div class="tpl-show-folder-row">
            <a href="<%= folder_path(@template.folder) %>" class="tpl-show-folder-link peer">
              <%= svg_icon('folder', class: 'w-4 h-4 shrink-0') %>
              <span><%= @template.folder.full_name %></span>
            </a>
            <% if can?(:update, template) %>
              <span class="tpl-show-folder-edit peer-hover:opacity-100" data-tip="<%= t('move') %>">
                <a href="<%= edit_template_folder_path(template.id, subfolder: @template.folder.parent_folder.present?) %>" data-turbo-frame="modal">
                  <%= svg_icon('pencil_share', class: 'w-4 h-4') %>
                </a>
              </span>
            <% end %>
          </div>
        <% else %>
          <div class="tpl-show-folder-row">
            <span class="tpl-show-shared-badge"><%= t('shared') %></span>
          </div>
        <% end %>
      </div>
    </div>

    <% if !template.archived_at? %>
      <div class="tpl-show-header-quick-actions">
        <% if can?(:update, template) %>
          <span class="tooltip" data-tip="<%= t('preferences') %>">
            <%= link_to template_preferences_path(template), class: 'tpl-show-icon-btn hidden md:flex', data: { turbo_frame: :modal } do %>
              <%= svg_icon('adjustments_horizontal', class: 'w-5 h-5') %>
            <% end %>
          </span>
        <% end %>
        <% if template.variables_schema.present? %>
          <span class="tpl-show-link-btn tpl-show-link-btn--disabled" aria-disabled="true">
            <%= svg_icon('link', class: 'w-4 h-4') %>
            <span><%= t('link') %></span>
          </span>
        <% else %>
          <%= link_to template_share_link_path(template), class: 'tpl-show-link-btn', data: { turbo_frame: :modal } do %>
            <%= svg_icon('link', class: 'w-4 h-4') %>
            <span><%= t('link') %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="tpl-show-actions">
    <% if !template.archived_at? && can?(:destroy, template) %>
      <%= button_to button_title(title: t('archive'), disabled_with: t('archiving'), title_class: 'inline', icon: svg_icon('archive', class: 'w-5 h-5')), template_path(template), class: 'tpl-show-action-btn tpl-show-action-btn--outline w-full md:w-auto', form: { class: 'inline-flex flex-1 md:flex-none min-w-0' }, method: :delete, data: { turbo_confirm: t('are_you_sure_') } %>
    <% end %>
    <% if can?(:create, current_account.templates.new(author: current_user)) %>
      <%= link_to new_template_clone_path(template), class: 'tpl-show-action-btn tpl-show-action-btn--outline flex-1 md:flex-none', data: { turbo_frame: :modal } do %>
        <%= svg_icon('copy', class: 'w-5 h-5') %>
        <span><%= t('clone') %></span>
      <% end %>
    <% end %>
    <% if !template.archived_at? %>
      <% if can?(:update, template) %>
        <%= link_to edit_template_path(template), class: 'tpl-show-action-btn tpl-show-action-btn--primary base-button profile-settings-btn-primary flex-1 md:flex-none' do %>
          <%= svg_icon('pencil', class: 'w-5 h-5') %>
          <span><%= t('edit') %></span>
        <% end %>
      <% elsif can?(:read, template) && !template.archived_at? %>
        <%= link_to template_preview_path(template), class: 'tpl-show-action-btn tpl-show-action-btn--outline flex-1 md:flex-none' do %>
          <%= svg_icon('file_text', class: 'w-5 h-5') %>
          <span><%= t('preview') %></span>
        <% end %>
      <% end %>
    <% end %>
    <% if template.archived_at? %>
      <% if can?(:create, template) %>
        <%= button_to button_title(title: t('restore'), disabled_with: t('restoring'), icon: svg_icon('rotate', class: 'w-5 h-5')), template_restore_index_path(template), class: 'tpl-show-action-btn tpl-show-action-btn--outline w-full md:w-auto', form: { class: 'inline-flex flex-1 md:flex-none min-w-0' } %>
      <% end %>
      <%= link_to template_preview_path(template), class: 'tpl-show-action-btn tpl-show-action-btn--outline flex-1 md:flex-none' do %>
        <%= svg_icon('file_text', class: 'w-5 h-5') %>
        <span><%= t('preview') %></span>
      <% end %>
    <% end %>
  </div>
</div>
