<div class="profile-settings-page auth-page">
  <div class="auth-shell">
    <div class="auth-card settings-card">
      <div class="auth-header">
        <h1 class="auth-title auth-title--sm"><%= t('forgot_your_password_') %></h1>
      </div>
      <div class="tpl-new-form">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: params[:redir].blank? }) do |f| %>
          <%= render 'devise/shared/error_messages', resource: %>
          <%= render 'devise/sessions/hidden_fields' %>
          <div class="form-control" dir="auto">
            <%= f.label :email, t(:email), class: 'label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'base-input w-full', placeholder: t('profile_placeholder_email', default: 'you@company.com') %>
          </div>
          <div class="form-control">
            <%= f.button button_title(title: t('reset_password'), disabled_with: t('resetting_password')), class: 'base-button profile-settings-btn-primary tpl-new-submit-btn' %>
          </div>
        <% end %>
        <div class="auth-card__footer">
          <%= render 'devise/shared/links' %>
        </div>
      </div>
    </div>
  </div>
</div>
