<div id="flash" class="app-toast-container" style="z-index: 95;">
  <div class="app-toast <%= flash[:notice] ? 'app-toast--info' : 'app-toast--error' %> app-toast--confirm is-visible">
    <div class="flex items-center gap-2">
      <% if flash[:notice] %>
        <%= svg_icon('info_circle', class: 'stroke-info flex-none w-5 h-5') %>
      <% else %>
        <%= svg_icon('exclamation_circle', class: 'stroke-error flex-none w-5 h-5') %>
      <% end %>
      <span class="app-toast-message"><%= flash[:notice] || flash[:alert] %></span>
    </div>
    <remove-on-event data-on="click" data-selector-id="flash" class="app-toast-close cursor-pointer" aria-label="<%= t('close', default: 'Close') %>">
      &times;
    </remove-on-event>
    <remove-on-event data-on="timeout" data-timeout-ms="3000" data-selector-id="flash" class="hidden" />
  </div>
</div>
