<form action="<%= url_for %>" method="get" class="flex items-center">
  <% Submissions::Filter::ALLOWED_PARAMS.each do |key| %>
    <% if params[key].present? %>
      <input name="<%= key %>" value="<%= params[key] %>" class="hidden">
    <% end %>
  <% end %>
  <search-input data-title="<%= local_assigns[:title_selector] || 'h1' %>" class="flex items-center w-full max-w-sm">
    <div class="relative w-full">
      <% if params[:q].present? %>
        <a href="<%= url_for(params: request.query_parameters.except('q')) %>" title="<%= t('clear') %>" class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-auto text-neutral text-xl font-light z-10">
          &times;
        </a>
      <% end %>
      <input id="search" name="q" value="<%= params[:q] %>" class="base-input text-sm md:text-base pr-10 <%= 'pl-8' if params[:q].present? %> w-full" placeholder="<%= local_assigns[:placeholder] %>">
      <button type="submit" title="<%= t('search') %>" class="btn btn-ghost btn-circle absolute inset-y-0 right-1 my-1">
      <span class="enabled">
        <%= svg_icon('search', class: 'w-6 h-6 stroke-2') %>
      </span>
      <span class="disabled">
        <%= svg_icon('loader', class: 'w-5 h-5 animate-spin') %>
      </span>
      </button>
    </div>
  </search-input>
</form>
