<form action="<%= url_for %>" method="get" class="flex items-center">
  <% Submissions::Filter::ALLOWED_PARAMS.each do |key| %>
    <% if params[key].present? %>
      <input name="<%= key %>" value="<%= params[key] %>" class="hidden">
    <% end %>
  <% end %>
  <search-input data-title="<%= local_assigns[:title_selector] || 'h1' %>" class="flex items-center w-full max-w-sm">
    <div class="relative w-full">
      <% if params[:q].present? %>
        <div class="search-input-clear-slot absolute inset-y-1 left-2 z-10 flex w-11 items-center justify-center">
          <a href="<%= url_for(params: request.query_parameters.except('q')) %>" title="<%= t('clear') %>" class="search-input-clear-btn flex h-7 w-7 items-center justify-center rounded-full text-xl leading-none font-normal">
            &times;
          </a>
        </div>
      <% end %>
      <input id="search" name="q" value="<%= params[:q] %>" class="base-input search-input-field text-sm md:text-base pl-4 pr-12 w-full <%= 'search-input-field--with-clear' if params[:q].present? %>" placeholder="<%= local_assigns[:placeholder] %>">
      <button type="submit" title="<%= t('search') %>" class="btn btn-ghost btn-circle absolute inset-y-0 right-1 my-1">
      <span class="enabled">
        <%= svg_icon('search', class: 'w-6 h-6 stroke-2') %>
      </span>
      <span class="disabled">
        <%= svg_icon('loader', class: 'w-5 h-5 animate-spin') %>
      </span>
      </button>
    </div>
  </search-input>
</form>
