<div class="block w-full md:w-52 flex-none">
  <a href="<%= '/' %>" class="inline-flex items-center space-x-1 text-sm font-medium text-primary-content/70 hover:text-primary-content mb-3 pl-1">
    <%= svg_icon('arrow_left', class: 'w-4 h-4 stroke-2') %>
    <span><%= t('back') %></span>
  </a>
  <menu-active>
    <ul id="account_settings_menu" class="menu px-0 text-primary-content/80">
      <li class="menu-title py-0 !bg-transparent">
        <span class="!bg-transparent text-primary-content/60 tracking-wide text-xs uppercase"><%= t('settings') %></span>
      </li>
      <li></li>
      <li>
        <%= link_to t('profile'), settings_profile_index_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
      </li>
      <li>
        <%= link_to t('account'), settings_account_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
      </li>
      <% unless Docuseal.multitenant? %>
        <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::EMAIL_SMTP_KEY, account: current_account)) && ENV['SMTP_ADDRESS'].blank? && true_user == current_user %>
          <li>
            <%= link_to t('email'), settings_email_index_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
          </li>
        <% end %>
        <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::FILES_STORAGE_KEY, account: current_account)) && true_user == current_user && ENV['S3_ATTACHMENTS_BUCKET'].blank? && ENV['GCS_BUCKET'].blank? && ENV['AZURE_CONTAINER'].blank? %>
          <li>
            <%= link_to t('storage'), settings_storage_index_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
          </li>
        <% end %>
        <% if can?(:read, EncryptedConfig.new(key: 'submitter_invitation_sms', account: current_account)) && true_user == current_user %>
          <li>
            <%= link_to 'SMS', settings_sms_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
          </li>
        <% end %>
      <% end %>
      <% if can?(:read, AccountConfig) %>
        <li>
          <%= link_to t('notifications'), settings_notifications_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
        </li>
      <% end %>
      <% if can?(:read, EncryptedConfig.new(key: EncryptedConfig::ESIGN_CERTS_KEY, account: current_account)) %>
        <li>
          <%= link_to t('e_signature'), settings_esign_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
        </li>
      <% end %>
      <% if can?(:read, AccountConfig) %>
        <li>
          <%= link_to t('personalization'), settings_personalization_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
        </li>
      <% end %>
      <% if can?(:read, User) %>
        <li>
          <%= link_to t('users'), settings_users_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
        </li>
      <% end %>
      <%= render 'shared/settings_nav_extra' %>
      <% if Docuseal.demo? || !Docuseal.multitenant? %>
        <% if can?(:read, AccessToken) %>
          <li>
            <%= link_to 'API', settings_api_index_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
          </li>
        <% end %>
      <% end %>
      <% if Docuseal.demo? || !Docuseal.multitenant? || (current_user != true_user && !current_account.testing?) %>
        <% if can?(:read, WebhookUrl) %>
          <li>
            <%= link_to 'Webhooks', settings_webhooks_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
          </li>
        <% end %>
      <% end %>
      <% if !Docuseal.demo? && can?(:manage, EncryptedConfig) && (current_user == true_user || current_account.testing?) %>
        <% if Docuseal.multitenant? %>
          <li>
            <%= link_to console_redirect_index_path(redir: "#{Docuseal::CONSOLE_URL}#{'/test' if current_account.testing?}/embedding/form"), class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80', data: { turbo: false } do %>
              <%= t('embedding') %>
            <% end %>
          </li>
        <% end %>
        <% if (!Docuseal.multitenant? || can?(:manage, :saml_sso)) && can?(:read, EncryptedConfig.new(key: 'saml_configs', account: current_account)) && true_user == current_user %>
          <li>
            <%= link_to 'SSO', settings_sso_index_path, class: 'text-base rounded-lg hover:bg-base-200 transition-colors duration-150 py-2.5 text-primary-content/80' %>
          </li>
        <% end %>
        <%= render 'shared/settings_nav_extra2' %>
        <% if (can?(:manage, EncryptedConfig) && current_user == true_user) || (current_user != true_user && current_account.testing?) %>
          <%= form_for '', url: testing_account_path, method: current_account.testing? ? :delete : :get, html: { class: 'w-full' } do |f| %>
            <li>
              <label class="flex items-center text-base hover:bg-base-300 w-full justify-between" for="testing_toggle">
                <span class="mr-2 w-full">
                  <%= t('test_mode') %>
                </span>
                <submit-form data-on="change" class="flex">
                  <%= f.check_box :testing_toggle, class: 'toggle toggle-sm', checked: current_account.testing? %>
                </submit-form>
              </label>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </menu-active>
</div>
