<div class="profile-settings-page auth-page">
  <div class="auth-shell">
    <div class="auth-card settings-card">
      <div class="auth-header">
        <h1 class="auth-title"><%= t('sign_in') %></h1>
      </div>
      <div class="tpl-new-form">
        <% if local_assigns[:access_error].present? %>
          <div class="alert">
            <%= svg_icon('x_circle', class: 'w-6 h-6 text-red-500') %>
            <span><%= local_assigns[:access_error] %></span>
          </div>
        <% else %>
          <%= form_for(resource, as: resource_name, data: { turbo: params[:redir].blank? }, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :password %>
            <% if params[:redir].present? %>
              <%= hidden_field_tag :redir, params[:redir] %>
            <% end %>
            <%= render 'otp_form', **local_assigns %>
            <div class="form-control">
              <%= f.button button_title(title: t('sign_in'), disabled_with: t('signing_in')), class: 'base-button profile-settings-btn-primary tpl-new-submit-btn' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
