<%= render 'shared/turbo_modal',
  title: t('edit_recipient'),
  enhanced_modal: true,
  content_class: 'modal-box--edit-recipient',
  body_class: 'edit-recipient-modal__body',
  close_after_submit: false do %>
  <div class="py-1">
    <%= form_for '', url: submitter_path(@submitter), method: :patch, html: { class: 'tpl-new-form', autocomplete: 'off' }, data: { turbo_frame: :_top } do |f| %>
      <div class="mb-2">
        <submitter-item class="space-y-4">
          <div class="form-control">
            <label class="label" for="submitter_name"><%= t('name') %> (<%= t('optional') %>)</label>
            <submitters-autocomplete data-field="name">
              <%= text_field_tag 'submitter[name]', @submitter.name, autocomplete: 'off', class: 'base-input !h-10 w-full', placeholder: t('name'), dir: 'auto', id: 'submitter_name' %>
            </submitters-autocomplete>
          </div>
          <div class="grid md:grid-cols-2 gap-4">
            <div class="form-control">
              <label class="label" for="submitter_email"><%= t('email') %> (<%= t('optional') %>)</label>
              <submitters-autocomplete data-field="email">
                <%= email_field_tag 'submitter[email]', @submitter.email, autocomplete: 'off', class: 'base-input !h-10 w-full', placeholder: t('email'), id: 'submitter_email' %>
              </submitters-autocomplete>
            </div>
            <div class="form-control">
              <label class="label" for="submitter_phone"><%= t('phone') %> (<%= t('optional') %>)</label>
              <custom-validation data-invalid-message="<%= t('use_international_format_1xxx_') %>">
                <submitters-autocomplete data-field="phone">
                  <%= telephone_field_tag 'submitter[phone]', @submitter.phone, autocomplete: 'off', pattern: '^\+[0-9\s\-]+$', class: 'base-input !h-10 w-full', placeholder: t('phone'), id: 'submitter_phone' %>
                </submitters-autocomplete>
              </custom-validation>
            </div>
          </div>
        </submitter-item>
      </div>
      <div>
        <%= render 'submissions/send_email', f:, template: @submitter.template, submitter: @submitter, resend_email: @submitter.sent_at?, submitter_email_message: @submitter_email_message, disable_save_as_default_template_option: true, message_per_submitter: false %>
        <%= render 'submissions/send_sms', f:, resend_sms: @submitter.sent_at? %>
      </div>
      <div class="form-control mt-4">
        <%= f.button button_title(title: t('update_recipient'), disabled_with: t('updating')), class: 'base-button' %>
      </div>
    <% end %>
  </div>
  <%= content_for(:modal_extra) %>
<% end %>
