<% is_long = folder.name.size > 32 %>
<a href="<%= folder_path(folder) %>" class="tpl-folder-card flex h-full flex-col justify-between w-full relative transition-all duration-200" data-targets="dashboard-dropzone.folderCards" data-full-name="<%= folder.full_name %>">
  <div class="tpl-folder-card-icon-area">
    <%= svg_icon('folder', class: 'tpl-folder-card-icon w-7 h-7 transition-colors duration-200') %>
  </div>
  <div class="tpl-folder-card-name" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: <%= is_long ? 2 : 1 %>;">
    <%= folder.name %>
  </div>
  <div class="before:border-2 before:border-base-300 before:border-dashed before:absolute before:left-0 before:right-0 before:top-0 before:bottom-0 before:hidden before:rounded-2xl"></div>
</a>
