<%= render 'shared/turbo_modal', title: t('rename_folder'), enhanced_modal: true do %>
  <div class="tpl-new-form">
    <%= form_for @template_folder, url: folder_path(@template_folder), data: { turbo_frame: :_top }, html: { autocomplete: :off } do |f| %>
      <div class="form-control">
        <%= f.label :name, t('folder_name'), class: 'label' %>
        <%= f.text_field :name, required: true, placeholder: t('profile_placeholder_folder_name', default: 'Folder name'), class: 'base-input w-full', autofocus: true, dir: 'auto' %>
      </div>
      <div class="form-control">
        <%= f.button button_title(title: t('rename'), disabled_with: t('saving')), class: 'base-button tpl-new-submit-btn' %>
      </div>
    <% end %>
  </div>
<% end %>
