<!DOCTYPE html>
<% initial_theme = cookies['cybros-theme'] == 'docuseal-light' ? 'docuseal-light' : 'docuseal-dark' %>
<html data-theme="<%= initial_theme %>" lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head_tags' %>
    <% if Docuseal.enable_pwa? %>
      <link rel="manifest" href="/manifest.json">
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <% if ENV['ROLLBAR_CLIENT_TOKEN'] %>
      <meta name="rollbar-token" content="<%= ENV.fetch('ROLLBAR_CLIENT_TOKEN', nil) %>">
      <%= javascript_pack_tag 'rollbar', 'application', defer: true %>
    <% else %>
      <%= javascript_pack_tag 'application', defer: true %>
    <% end %>
    <% if canonical_url = content_for(:canonical_url) %>
      <link href="<%= canonical_url %>" rel="canonical">
    <% end %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body class="min-h-screen bg-base-100" data-revalidate-on-back="<%= signed_in? %>">
    <% if params[:modal].present? %>
      <% url_params = Rails.application.routes.recognize_path(params[:modal], method: :get) %>
      <% if url_params[:action] == 'new' %>
        <open-modal src="<%= url_for(url_params) %>"></open-modal>
      <% end %>
    <% end %>
    <turbo-frame id="modal"></turbo-frame>
    <turbo-frame id="drawer"></turbo-frame>
    <%= render 'shared/navbar' %>
    <% if flash.present? %><%= render 'shared/flash' %><% end %>
    <% if signed_in? %>
      <% signed_page_class = request.path.start_with?('/settings') ? 'page-stack' : 'ds-page page-stack' %>
      <main class="ds-page-shell">
        <div class="<%= signed_page_class %>">
          <%= yield %>
        </div>
      </main>
    <% else %>
      <main class="page-shell page-stack">
        <%= yield %>
      </main>
    <% end %>
    <%= render 'shared/body_scripts' %>
  </body>
</html>
