<!DOCTYPE html>
<% initial_theme = cookies['cybros-theme'] == 'docuseal-light' ? 'docuseal-light' : 'docuseal-dark' %>
<html data-theme="<%= initial_theme %>" lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head_tags' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <% if ENV['ROLLBAR_CLIENT_TOKEN'] %>
      <meta name="rollbar-token" content="<%= ENV.fetch('ROLLBAR_CLIENT_TOKEN', nil) %>">
      <%= javascript_pack_tag 'rollbar', 'form', defer: true %>
    <% else %>
      <%= javascript_pack_tag 'form', defer: true %>
    <% end %>
    <%= stylesheet_pack_tag 'form', media: 'all' %>
  </head>
  <body>
    <% unless content_for?(:hide_theme_toggle) %>
      <div class="fixed top-4 right-4 z-[80]">
        <theme-toggle class="inline-flex">
          <button type="button" class="theme-toggle-btn" aria-label="Toggle color theme" title="Toggle color theme">
            <span data-theme-icon="sun">
              <%= svg_icon('sun', class: 'w-5 h-5') %>
            </span>
            <span data-theme-icon="moon" class="hidden">
              <%= svg_icon('moon', class: 'w-5 h-5') %>
            </span>
          </button>
        </theme-toggle>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
